/* Layout */
.App, #SelectMode, #SpeakerUi, #AudienceUi {
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

/* SelectMode */
#Alerts {
  position: absolute;
  width: 100%;
  font-weight: normal;
  z-index: 200;
  top: 10px;
}

/* SelectMode */
#SelectMode {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#SelectMode h1 {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

#SelectMode button {
  font-size: 24px;
  width: 160px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  color: #eee;
  background-color: transparent;
  margin-right: 10px;
  line-height: 40px;
  font-weight: 100;
  letter-spacing: 0.05em;
}

#SelectMode button:last-child {
  margin-right: 0px;
}

#SelectMode button:focus {
  outline: none;
}

/* SpeakerUi */
#SpeakerUi {
  /* SpeakerUi - LocalVideo */
  /* SpeakerUi - RemoteVideos */
}

#SpeakerUi #LocalVideo {
  height: 50vh;
  border-bottom: 1px solid #444;
  position: relative;
}

#SpeakerUi #LocalVideo h2 {
  position: absolute;
  top: 12px;
  text-align: center;
  z-index: 100;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  width: 100%;
}

#SpeakerUi #LocalVideo h2 span {
  background-color: rgba(255, 0, 0, 0.6);
  padding: 2px 8px;
  border-radius: 14px;
  color: #000;
}

#SpeakerUi #LocalVideo video {
  width: 100%;
  height: 100%;
}

#SpeakerUi #LocalVideo video.camera {
  object-fit: contain;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}

#SpeakerUi #LocalVideo video.screen {
  object-fit: contain;
}

#SpeakerUi .remote-videos-audience {
  height: 50vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #444;
  position: relative;
}

#SpeakerUi .remote-videos-audience h2 {
  position: absolute;
  top: 12px;
  text-align: center;
  z-index: 100;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  width: 100%;
}

#SpeakerUi .remote-videos-audience h2 span {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 8px;
  border-radius: 14px;
  color: #222;
}

#SpeakerUi .remote-videos-audience .remote-video {
  height: 50vh;
  flex-basis: 100vw;
  overflow: hidden;
  position: relative;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

#SpeakerUi .remote-videos-audience .remote-video:first-child {
  border-left: 0;
}

#SpeakerUi .remote-videos-audience .remote-video:last-child {
  border-right: 0;
}

#SpeakerUi .remote-videos-audience .remote-video video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Answer */
.answers {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50vh;
  z-index: 100;
}

.answers .answers-message {
  font-size: 24px;
  line-height: 50vh;
  letter-spacing: 0.05em;
  text-align: center;
}

.answers .button-wrapper {
  position: absolute;
  bottom: 10px;
  text-aligh: center;
  width: 100%;
}

.answers .button-wrapper button {
  border: #eee double 3px;
  color: #eee;
  font-weight: 100;
  font-size: 24px;
  padding: 0 12px;
  background-color: rgba(0, 0, 0, 0.25);
}

.answers .button-wrapper button:focus {
  outline: none;
}

.answers.answers-accept + video {
  opacity: 0.4;
}

/* AudienceUi */
#AudienceUi {
  position: relative;
}

#AudienceUi .remote-videos-speaker h2 {
  display: none;
}

#AudienceUi .remote-videos-speaker .remote-video {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

#AudienceUi .remote-videos-speaker .remote-video video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#AudienceUi .remote-videos-speaker .remote-video video.camera {
  object-fit: cover;
}

#AudienceUi .remote-videos-speaker .remote-video video.screen {
  object-fit: contain;
}

#AudienceUi #LocalVideo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 160px;
  height: 90px;
  box-shadow: 0 0 10px 0 black;
}

#AudienceUi #LocalVideo video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}

#AudienceUi h2 {
  display: none;
}

#AudienceUi .button-wrapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 160px;
  height: 90px;
  z-index: 100;
  text-align: center;
}

#AudienceUi .button-wrapper button {
  line-height: 36px;
  background-color: rgba(0, 0, 0, 0.25);
  border: #eee double 3px;
  color: #eee;
  font-weight: 100;
  font-size: 24px;
  padding: 0 12px;
  margin-top: 24px;
}

#AudienceUi .button-wrapper button:focus {
  outline: none;
}

#AudienceUi .remote-videos-questioner h2 {
  display: none;
}

#AudienceUi .remote-videos-questioner .remote-video {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 160px;
  height: 90px;
  box-shadow: 0 0 10px 0 black;
}

#AudienceUi .remote-videos-questioner .remote-video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Config */
#Config {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

#Config h2 {
  display: none;
}

/* Utilities */
.none {
  display: none;
}

.red {
  color: #f00 !important;
}
