#AudienceUi {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#AudienceUi video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#AudienceUi video.camera {
  object-fit: cover;
}

#AudienceUi video.screen {
  object-fit: contain;
}
