.icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: text-bottom;
}

.icon-microphone {
  background-size: 1em 1em;
  background-image: url("./images/glyphicons-301-microphone.png");
}

.icon-display {
  background-size: 1em 1em;
  background-image: url("./images/glyphicons-87-display.png");
}
