#Config {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#Config .btn-toolbar {
  position: relative;
  left: 50%;
  float: left;
}

#Config .btn-toolbar > .btn-group {
  left: -50%;
}

#Config .btn-toolbar > .btn-group:first-of-type {
  margin-left: 10px;
}
