#AudienceUi {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  position: relative;

  .remote-videos-speaker {
    h2 {
      display: none;
    }

    .remote-video {
      margin: 0px;
      padding: 0px;
      height: 100vh;
      overflow: hidden;

      video {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &.camera {
          object-fit: cover;
        }

        &.screen {
          object-fit: contain;
        }
      }
    }
  }

  h2 {
    display: none;
  }
}
