#Config {
  position: absolute;
  bottom: 10px;
  width: 100%;

  .btn-toolbar {
    position: relative;
    left: 50%;
    float: left;

    > .btn-group {
      left: -50%;

      &:first-of-type {
        margin-left: 10px;
      }
    }
  }
}
